/METCalorieCalculation/nbproject/private/
/METCalorieCalculation/build/
/ArcadeCouponsCalculation/nbproject/private/
/PigLatinString/nbproject/private/
/PigLatinString/build/
/StringWordChange/nbproject/private/
/StringWordChange/build/
/BicycleSpeedCalculator/nbproject/private/
/BicycleSpeedCalculator/build/