/METCalorieCalculation/nbproject/private/
/METCalorieCalculation/build/
/ArcadeCouponsCalculation/nbproject/private/
/PigLatinString/nbproject/private/
/PigLatinString/build/
/StringWordChange/nbproject/private/
/StringWordChange/build/
/BicycleSpeedCalculator/nbproject/private/
/BicycleSpeedCalculator/build/
/OutputTimeCalculation/nbproject/private/
/OutputTimeCalculation/build/
/PoorProgrammingStyleCorrections/nbproject/private/
/PoorProgrammingStyleCorrections/build/
/EstimatingIdealBodyWeight/nbproject/private/
/EstimatingIdealBodyWeight/build/
/OverdoseOfCaffeineCalculation/nbproject/private/
/OverdoseOfCaffeineCalculation/build/
/BabylonianAlgorithmPractice/nbproject/private/
/BabylonianAlgorithmPractice/build/
/PigLatinStage2/nbproject/private/
/PigLatinStage2/build/
/IntegerOutputSimple/nbproject/private/
/IntegerOutputSimple/build/
/AutomobileCommutingPrice/nbproject/private/
/AutomobileCommutingPrice/build/
/StraightLineDepreciationFormula/nbproject/private/
/StraightLineDepreciationFormula/build/
/VendingMachineChange/nbproject/private/
/VendingMachineChange/build/
/ReadInWriteOut/nbproject/private/
/ReadInWriteOut/build/
/StringWordChange2/nbproject/private/
/StringWordChange2/build/
/RegisterAndReceipt/nbproject/private/
/RegisterAndReceipt/build/
/GradeTotalCalculation/nbproject/private/
/GradeTotalCalculation/build/
/IdealBodyWeightVersion2/nbproject/private/
/IdealBodyWeightVersion2/build/
/CaffeineOverdoseVersion2/nbproject/private/
/CaffeineOverdoseVersion2/build/